{% extends "socialaccount/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="Container"> 
  <div class="row d-flex justify-content-center" style="margin-top: 10px;">
    <div class="col-md-6 col-xl-4">
      <div class="card">
        {% if process == "connect" %}
        <h1 class="text-center">{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</h1>

        <p class="text-center">{% blocktrans with provider.name as provider %}You are about to connect a new third party account from {{ provider }}.{% endblocktrans %}</p>
        {% else %}
        <h1 class="text-center">{% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}</h1>

        <p class="text-center">{% blocktrans with provider.name as provider %}You are about to sign in using a third party account from {{ provider }}.{% endblocktrans %}</p>
        {% endif %}

        <form method="post">
          {% csrf_token %}
          <button class="btn btn-primary shadow d-block w-100" type="submit" style="background: var(--bs-white);color: var(--bs-blue);margin-top: 10px;margin-bottom: 10px;">{% trans "Continue" %}</button>
        </form>

      </div>
    </div>
  </div>
</div>
{% endblock %}
