{%extends 'base.html'%}
{%load static%}
{% block content %}
<section class="py-5" style="margin-top: -48px;margin-bottom: -48px;">
    <div class="container py-5">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2 class="fw-bold">Phew!&nbsp; Finally Completed</h2>
                <p class="text-muted"></p>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <div><img class="rounded img-fluid shadow w-100 fit-cover" src="{% static name%}" style="height: 250px;" alt="Image">
                    <div class="py-4" style="padding-left: 20px;">
                        <div class="row" style="margin-bottom: 10px;">
                            <div class="col-xl-6"><a href="#">
                                    <h4 class="fw-bold" style="text-align: left;">{{Name}}</h4>
                                </a></div>
                            <div class="col-xl-6"><a class="btn btn-primary" role="button" style="background: var(--bs-white);color: var(--bs-blue);" href="{% url 'personal_info' pk%}"><img src="{% static 'assets/img/edit.svg' %}">&nbsp; Edit This Resume</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-5" style="margin-top: -32px;">
            <div class="col-md-8 col-xl-6 text-center mx-auto" style="padding-left: 0px;padding-right: 0px;"><button class="btn btn-primary" type="button" style="color: var(--bs-btn-bg);background: var(--bs-white);"><img src="{% static 'assets/img/download.png'%}" style="width: 25px;" width="25" height="25">&nbsp; <a href="{% static tex %}">Download Latex</a></button></div>
            <div class="col-md-8 col-xl-6 text-center mx-auto" style="padding-left: 0px;padding-right: 0px;"><button class="btn btn-primary" type="button" style="background: var(--bs-white);color: var(--bs-btn-bg);"><img src="{% static 'assets/img/download.png'%}" style="width: 25px;">&nbsp; <a href="{% static pdf %}">Download PDF</a></button></div>
        </div>
    </div>
</section>
{% endblock content %}