{% extends 'base.html' %}
{% load crispy_forms_tags%}
{% load static %}
{% block content %}
<form style="padding-top: 20px;padding-bottom: 20px;padding-left: 19px;padding-right: 19px;" method="POST">
    <section class="py-4 py-xl-5">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-8 col-lg-8 col-xl-8 col-xxl-8">
                    <div class="card mb-5">
                        <div class="card-body p-sm-5 row d-flex justify-content-center">
                            <div class="col-md-3">
                                <img src="{%static 'assets/img/experience.png'%}" >
                            </div>
                            <h2 class="text-center mb-4">Please Write Your Experiences here</h2>
                            <div id="ExperienceForm">
                                {{formset.management_form}}
                                {%csrf_token%}
                                {% for form in forms%}
                                {{form|crispy}}
                                <hr>
                                {% endfor %}
                                {% for form in formset %}
                                {{form|crispy}}
                                <hr>
                                {% endfor %}
                                <div id="empty_form" style="display: none;">
                                    {{formset.empty_form|crispy}}
                                </div>
                            </div>
                            
                            <button class="btn btn-light" type="button" id="addMore"><img height="25px" width="25px" src="{% static 'assets/img/add.svg' %}"></img> Add Experience</button>
                            
                            <div class="text-center">
                                <button class="btn btn-primary mt-3" type="submit">Save and Continue</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
 {% comment %}add jquery  {% endcomment %}
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

 {% comment %} Add a script to increase the number on forms on clicking add more {% endcomment %}
 <script>
     $(document).ready(function() {
         $("#addMore").click(function() {
             var form_idx = $('#id_form-TOTAL_FORMS').val();
             $('#ExperienceForm').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
             // add an hr tag after the last form added
             $('#ExperienceForm').append('<hr>');
             $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
 
         });
     });
 </script>
{% endblock%}