{% extends 'base.html' %}
{% load static %}

{% block head_title%}
    Home
{% endblock %}


{% block content %}
<div class="col-md-8 col-xl-6 text-center text-md-start mx-auto" style="margin-top: 60px;margin-bottom: 60px;">
    <div class="text-center">
        <h1 class="fw-bold" style="margin-bottom: 0px;">The best Resume Builder you'll ever need !!</h1>
    </div>
</div>
<div class="col-md-8 col-xl-6 text-center text-md-start mx-auto" style="margin-top: 100px;margin-bottom: 100px;padding-left: 0px;margin-left: -12px;">
    <div class="text-center" style="margin-left: -180px;margin-right: -180px;">
        <h1 class="fw-bold" style="margin-top: 10px;margin-bottom: 10px;padding-top: 10px;padding-bottom: 10px;"><a class="btn btn-primary" role="button" style="color: var(--bs-white);background: var(--bs-blue);transform: translate(0px);padding-top: 29px;padding-bottom: 29px;font-size: 32px;border-radius: 100px;" href="{% url 'templates' %}"">Build Your Resume</a>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<a class="btn btn-primary" role="button" style="color: var(--bs-white);background: var(--bs-blue);transform: translate(0px);padding-top: 29px;padding-bottom: 29px;font-size: 32px;border-radius: 100px;" href="{% url 'works' %}">Explore Your Works</a></h1>
    </div>
</div>
{% endblock %}